<section class="events">
	<header>
		<h1>Checkout Events nearby</h1>
	</header>
	<article id="app-content">
		<ul class="eventsList">
			<li class="eventsList--item">
				<a href="#" title="Front In Maceio">
						<img class="event-figure" src="http://braziljs.org/services/events/media/2014/frontinmaceio.png" alt="Event Icon" width="60" height="60">
						<div class="event-guide">
							<span class="event-title">Front In Maceio</span>
							<time datetime="2014-11-15 08:00">15/11/2014</time>
						</div>
				</a>
			</li>
			<li class="eventsList--item">
				<a href="#" title="Front In Aracaju">
						<img class="event-figure" src="http://braziljs.org/services/events/media/2014/frontinaracaju.jpg" width="60" height="60" alt="Event Icon">
						<div class="event-guide">
							<span class="event-title">Front In Aracaju</span>
							<time datetime="2014-11-15 08:00">15/11/2014</time>
						</div>
				</a>
			</li>
			<li class="eventsList--item">
				<a href="#" title="Front In Aracaju">
						<img class="event-figure" src="http://braziljs.org/services/events/media/2014/frontinaracaju.jpg" width="60" height="60" alt="Event Icon">
						<div class="event-guide">
							<span class="event-title">Front In Aracaju</span>
							<time datetime="2014-11-15 08:00">15/11/2014</time>
						</div>
				</a>
			</li>
			<li class="eventsList--item">
				<a href="#" title="Front In Aracaju">
						<img class="event-figure" src="http://braziljs.org/services/events/media/2014/frontinaracaju.jpg" width="60" height="60" alt="Event Icon">
						<div class="event-guide">
							<span class="event-title">Front In Aracaju</span>
							<time datetime="2014-11-15 08:00">15/11/2014</time>
						</div>
				</a>
			</li>
			<li class="eventsList--item">
				<a href="#" title="Front In Fortaleza">
						<img class="event-figure" src="http://braziljs.org/services/events/media/2014/fif-2014.jpg" width="60" height="60" alt="Event Icon">
						<div class="event-guide">
							<span class="event-title">Front In Fortaleza</span>
							<time datetime="2014-11-15 08:00">15/11/2014</time>
						</div>
				</a>
			</li>
			<li class="eventsList--item">
				<a href="http://braziljs.org/services/events/media/2014/frontinfloripa.jpg" title="Front In Floripa">
						<img class="event-figure" src="http://braziljs.org/services/events/media/2014/frontinfloripa.jpg" alt="Event Icon" width="60" height="60">
						<div class="event-guide">
							<span class="event-title">Front In Floripa</span>
							<time datetime="2014-11-15 08:00">15/11/2014</time>
						</div>
				</a>
			</li>
		</ul>
	</article>
</section>