<section class="events">
	<header>
		<h1>Checkout Events nearby</h1>
	</header>
	<article id="app-content">
		<ul class="eventsList">
			<li class="eventsList--item">
				<a ng-href="#/evento/{{'1'}}" title="Front In Maceio">
					<img class="event-figure" src="http://braziljs.org/services/events/media/2014/frontinmaceio.png" alt="Event Icon" width="60" height="60">
					<div class="event-guide">
						<div itemscope itemtype="http://schema.org/Event">
								<span class="event-title" itemprop="name">Front In Maceio</span>
							<div style="display:none;"><meta itemprop="startDate" content="2014-11-15T08:00">Starts: 11/15/2014 08:00PM</div>
						</div>
						<div itemprop="location" itemscope itemtype="http://schema.org/PostalAddress">
							<div><span class="event-place" itemprop="addressLocality">Maceio</span>, <span class="event-place" itemprop="addressRegion">Alagoas</span></div><div class="event-place" itemprop="addressCountry">Brazil</div>
						</div>
						<time datetime="2014-11-15 08:00">15/11/2014</time>
					</div>
				</a>
			</li>
			<li class="eventsList--item">
				<a href="#" title="Front In Aracaju">
					<img class="event-figure" src="http://braziljs.org/services/events/media/2014/frontinaracaju.jpg" width="60" height="60" alt="Event Icon">
					<div class="event-guide">
						<div itemscope itemtype="http://schema.org/Event">
								<span class="event-title" itemprop="name">Front In Aracaju</span>
							<div style="display:none;"><meta itemprop="startDate" content="2014-11-15T08:00">Starts: 11/15/2014 08:00PM</div>
						</div>
						<div itemprop="location" itemscope itemtype="http://schema.org/PostalAddress">
							<div><span class="event-place" itemprop="addressLocality">Aracaju</span>, <span class="event-place" itemprop="addressRegion">Sergipe</span></div><div class="event-place" itemprop="addressCountry">Brazil</div>
						</div>
						<time datetime="2014-11-15 08:00">15/11/2014</time>
					</div>
				</a>
			</li>
			<li class="eventsList--item">
				<a href="#" title="Front In Aracaju">
					<img class="event-figure" src="http://braziljs.org/services/events/media/2014/frontinaracaju.jpg" width="60" height="60" alt="Event Icon">
					<div class="event-guide">
						<div itemscope itemtype="http://schema.org/Event">
								<span class="event-title" itemprop="name">Front In Maceio</span>
							<div style="display:none;"><meta itemprop="startDate" content="2014-11-15T08:00">Starts: 11/15/2014 08:00PM</div>
						</div>
						<div itemprop="location" itemscope itemtype="http://schema.org/PostalAddress">
							<div><span class="event-place" itemprop="addressLocality">Maceio</span>, <span class="event-place" itemprop="addressRegion">Alagoas</span></div><div class="event-place" itemprop="addressCountry">Brazil</div>
						</div>
						<time datetime="2014-11-15 08:00">15/11/2014</time>
					</div>
				</a>
			</li>
			<li class="eventsList--item">
				<a href="#" title="Front In Aracaju">
					<img class="event-figure" src="http://braziljs.org/services/events/media/2014/frontinaracaju.jpg" width="60" height="60" alt="Event Icon">
					<div class="event-guide">
						<div itemscope itemtype="http://schema.org/Event">
								<span class="event-title" itemprop="name">Front In Maceio</span>
							<div style="display:none;"><meta itemprop="startDate" content="2014-11-15T08:00">Starts: 11/15/2014 08:00PM</div>
						</div>
						<div itemprop="location" itemscope itemtype="http://schema.org/PostalAddress">
							<div><span class="event-place" itemprop="addressLocality">Maceio</span>, <span class="event-place" itemprop="addressRegion">Alagoas</span></div><div class="event-place" itemprop="addressCountry">Brazil</div>
						</div>
						<time datetime="2014-11-15 08:00">15/11/2014</time>
					</div>
				</a>
			</li>
			<li class="eventsList--item">
				<a href="#" title="Front In Fortaleza">
					<img class="event-figure" src="http://braziljs.org/services/events/media/2014/fif-2014.jpg" width="60" height="60" alt="Event Icon">
					<div class="event-guide">
						<div itemscope itemtype="http://schema.org/Event">
								<span class="event-title" itemprop="name">Front In Fortaleza</span>
							<div style="display:none;"><meta itemprop="startDate" content="2014-11-15T08:00">Starts: 11/15/2014 08:00PM</div>
						</div>
						<div itemprop="location" itemscope itemtype="http://schema.org/PostalAddress">
							<div><span class="event-place" itemprop="addressLocality">Fortaleza</span>, <span class="event-place" itemprop="addressRegion">Ceará</span></div><div class="event-place" itemprop="addressCountry">Brazil</div>
						</div>
						<time datetime="2014-11-15 08:00">15/11/2014</time>
					</div>
				</a>
			</li>
			<li class="eventsList--item">
				<a href="http://braziljs.org/services/events/media/2014/frontinfloripa.jpg" title="Front In Floripa">
					<img class="event-figure" src="http://braziljs.org/services/events/media/2014/frontinfloripa.jpg" alt="Event Icon" width="60" height="60">
					<div class="event-guide">
						<div itemscope itemtype="http://schema.org/Event">
								<span class="event-title" itemprop="name">Front In Floripa</span>
							<div style="display:none;"><meta itemprop="startDate" content="2014-11-15T08:00">Starts: 11/15/2014 08:00PM</div>
						</div>
						<div itemprop="location" itemscope itemtype="http://schema.org/PostalAddress">
							<div><span class="event-place" itemprop="addressLocality">Florianópolis</span>, <span class="event-place" itemprop="addressRegion">Santa Catarina</span></div><div class="event-place" itemprop="addressCountry">Brazil</div>
						</div>
						<time datetime="2014-11-15 08:00">15/11/2014</time>
					</div>
				</a>
			</li>
		</ul>
	</article>
</section>